*{
    margin: 0;
    padding: 0;
    font-family: "Caveat", cursive;
}
.header{
    height: 100vh;
    width: 100%;
    background-color: #e9ecef;
    background-position: center;
    background-size: cover;
    position: relative;
}
.pic{
    position: absolute;
    left: 5%;
    top: 20%;
     
}
.pic img{
    height: 200%;
    width: 200%;
    position: relative;
}
.back-btn{
    color: #000000;
}    
    
.text{
    width: 90%;
    color: #000000;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    font-size: 35px;
    align-items: center;
    justify-content: center;
}
.back{
    width: 90%;
    color: #000000;
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    font-size: 35px;
}
.pop_btn{
    color: #000000;
    cursor: pointer;
    width: 40px;
    right: 30px;
    top: 30px;
    position: absolute;
    font-size: 3rem;
    z-index: 3;

}

.answer_btn{
    text-align: left;
    display: block;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 180px;
    width: 300px;
    background: #000000;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}
.answer_btn.open{
    height: 250px;
}

.answer_btn li{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
li{
    list-style: none;

}
a{
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;

}
.text-box1{
    width: 90%;
    color: #000000;
    position: absolute;
    top: 40%;
    left: 47%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    padding: 2% 4%;
    margin-left: 30px;
    justify-content: space-between;
    display: flex;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 2px solid #fff;
    background: #000000;
    transition: 0.75s;
    color: #fff;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #000000; 
    flex-direction: column;

  }

  #timer {
    font-size: 20em;
    padding: 10px;
    border-radius: 1px;
    margin-bottom: 20px;
    display: inline-block;
  }

  #timer1 {
    font-size: 5em;
    padding: 10px;
    border-radius: 1px;
    margin-bottom: 20px;
    display: inline-block;
  }

  button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #000000; 
    color: #fff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
   }

  #timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    position:relative;
}
.bottom-right-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 2em;
    margin-bottom: 10px;
}

.bottom-right-container button {
    font-size: 1.2em;
    padding: 5px 10px;
}
